.bg-image{
  height: 8rem;
  background: url("../../../../../assets/img/touristList.jpg") no-repeat  ;
  background-position: center;
  background-size:cover ;
  z-index: -100;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

