<div class="w-100 d-flex flex-column align-items-center justify-content-center">
  <div class="w-xl-80 w-lg-80 w-nd-85 w-sm-90 w-xs-95 d-flex flex-row align-items-center justify-content-around px-2 py-4 my-5 flex-wrap frame">
    <label class="w-100"> Tour Task </label>
    <div class="w-xl-15 w-lg-25 w-md-30 w-sm-60 w-xs-85  d-flex flex-column align-items-center justify-content-center m-3 frame text-light pointer " style="outline: none"
         routerLink="/tour/tourist-list/{{customerId}}/{{tourId}}" >
      <div class="w-100 bg-image touristListBackground "></div>
      <span class="w-100  text-black-50">Tourist List</span>
    </div>


  </div>

</div>

